.catalogContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.catalog__item {
  width: 325px;
  margin: 1rem;
  position: relative;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  border: 2px solid #2c2d2b;
}

.catalog__item__img {
  height: 430px;
  background-color: beige;
  overflow-y: hidden;
  position: relative;
  background-color: black;
  overflow-x:hidden;
}

.catalog__item__img > img {
  width: 100%;
  transition: all ease-in 0.2s;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

.catalog__item__resume {
  top: 0;
  opacity: 0;
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  color: white;
  background-color: #333533;
  transition: all ease-in 0.3s;
  width: -moz-available;
}

.catalog__item:hover .catalog__item__img > img {
  opacity: 0.3;
  transform: scale(1.1);
  width: -moz-available;
}

.catalog__item:hover .catalog__item__resume {
  opacity: 1;
}

.catalog__item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5cb5c;
  color: #242423;
}

.catalog__item__footer__name {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
a {
  text-decoration: none !important;
}
.catalog__item__footer__rating {
  font-weight: bold;
  padding: 5px 10px;
  background-color: #343533;
  color: #f5cc5b;
  border-radius: 10px;
}

.imgPlaceholder {
  background-image: url('./book-cover-placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.edit {
  background-color: #343533;
  margin-right: 0.5rem;
  border-radius: 5px !important;
}
.delete {
  background-color: #f57f5b;

  border-radius: 5px !important;
}
#book-heading {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 2.7rem;
  padding-right: 2.7rem;
}

.bookDetailContainer {
  padding: 40px 20px;
  //padding: 10rem 5rem;
  animation: 1s ease 0s 1 normal none running animateMovieInfo;

  // background: rgba(0, 0, 0, 0) repeat scroll center center / cover;
}
.detailCard {
  display: flex;
  max-width: 1280px;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  border-radius: 20px;
}
.imageContainer {
  width: 50%;
  img {
    width: 100%;
    max-width: 720px;
    transition: all 0.3s ease 0s;
    object-fit: cover;
    border-radius: 20px;
    animation: 0.5s ease 0s 1 normal none running animateThumb;
  }
}
.imageContainer:hover {
  opacity: 0.8;
}
.detailContainer {
  display: grid;
  justify-items: end;
  width: 100%;
  padding: 20px 40px;
  color: white;
  overflow: hidden;
  align-content: space-between;
}
.bookGenres {
  display: flex;
  -moz-box-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 2.5rem;
  h3 {
    width: fit-content;
    border-bottom: 1px solid white;
  }
}
.genres {
  span {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    // background: rgba(39, 24, 24, 0.574) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-weight: 800;
    border-radius: 20%;
  }
}

.bookButtons {
  height: fit-content;
}

.editDelete {
  width: fit-content;
}
.bookHeaderComponents {
  justify-content: space-between;
}
.refreshCreate {
  height: fit-content;
  padding-right: 2.6rem;
}
.inputSort {
  flex-wrap: inherit;
  padding-left: 2.6rem;
}
.dropdownMenu {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.bookPage {
  background-color: rgb(250, 233, 201);
}

.booksSearch {
  background-color: white;
}

.nav-link {
  color: #2c2d2b;
}
